
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Routing Example</a>
        </div>
    </div>
</nav>
<div class="container">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">

                <!--wrong methods. Refreshing on each click. Lose the state-->
                <!-- <li><a href="/" class="active">Home</a></li>
                <li><a href="/users" >Users</a></li> 
                <li><a href="/servers" >Servers</a></li> -->

                <!-- correct and basic method for routing -->
                <li role= "presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                ><a routerLink="/" class="active">Home</a></li>
                <li role= "presentation" routerLinkActive="active"><a routerLink="/users" >Users</a></li> 
                <li role= "presentation" routerLinkActive="active"><a [routerLink]="['/servers']" >Servers</a></li>
                <li role= "presentation" routerLinkActive="active"><a [routerLink]="['/info']" >Information</a></li>

                <router-outlet></router-outlet>
            </ul>
            
        </div>
    </div>