<!-- **** for basic angular works **** -->
<!-- <app-binding> </app-binding> -->  

<!-- **** for DataBinding deepDive input output decorator simple**** -->
<!-- <div class="" >
    <app-cocktail #cocktail></app-cocktail>   
    <hr>  
    hi {{cocktail.server}} 
    <app-server-element [serverTag]="cocktail.server"></app-server-element>
</div> -->

<!-- **** for DataBinding deepDive input output decorator Complicated**** -->
<!-- <div class="container" >
    <app-top-page (newItemEvent)="addItem($event)" > 
        <p #content>TopPage content</p>
     </app-top-page>
    <hr>  
     <app-bottom-page *ngFor="let data of detailElements" [profile]="data"></app-bottom-page> 
</div> -->

<!-- ****ANother Example for DataBinding deepDive input output decorator Complicated****ngStyle,ngClass**** -->
<!-- <div class="container">
    <app-game-control (messageEvent)="addEven($event)"></app-game-control>
    <app-even-numbers  *ngFor="let even of evenElements" [evenTag]="even" 
    [ngClass]="{evenColor : even % 2 == 0}"
    [ngStyle]="{fontFamily : even % 2 == 0 ? 'FANTASY' : 'sans-serif'}"></app-even-numbers>
    <app-odd-numbers *ngFor="let odd of oddElements" [oddTag]="odd"></app-odd-numbers>

</div> -->

<!-- Attribute Directive Simple Eg -->
<!-- <div class="container">             
    <p appBasicHighlight>Hello Basic Attribute Directive</p>
    <p appBetterHighlight>Hello Better Attribute Directive using renderer2</p>
    <p appMuchBetterHighlight>Hello Much Better Attribute Directive using HostBinding</p>
    <p appMuchBetterHighlightbind [defaultColor]="'yellow'" [highlightColor]="'brown'">Hello Much Better Attribute Directive input binding</p>
    <ng-template [ngIf]="true">
        bbbbbbbbbbb
    </ng-template>
    <ng-template> 
        bbbbbbbbbbb
    </ng-template>
</div>

<div  *appMuchBetterHighlightCustomBind="setVal">
    <li 
        class="list-group-item" 
        *ngFor="let even of evenNumbers">
        {{even}}
    </li>
</div> -->

<!-- switch case -->
<!-- <div [ngSwitch]="value">
    <p *ngSwitchCase="5">Value is 5</p>
    <p *ngSwitchCase="10">Value is 10</p>
    <p *ngSwitchCase="100">Value is 100</p>
    <p *ngSwitchDefault>Value is Default</p>
</div> -->

<!-- for PDF test -->
<!-- <div class="">
    <button class="btn btn-success" (click)="downloadAsPDF()"></button>
</div> -->


<!-- **** for Angular project **** -->
<!-- <app-header (selectedFeature)="onSelectedTab($event)"></app-header>

<div class="conatiner">
    <div class="row">
       <div class="col-md-12">
           <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
           <app-shopping-list *ngIf="loadedFeature === 'shopping-list'"></app-shopping-list>          
       </div>
    </div>
</div> -->

<!-- Service used instead of eventbindint to emit parent to child -->
<!-- <div class="container">
    <button class="btn btn-success" (click)="seeLogEg()"> Service Example</button>
    <app-test-for-service></app-test-for-service>
    <app-test-for-service1></app-test-for-service1>
</div> -->

<!-- Another service example -->
<!-- <div class="container">
    <app-active-users></app-active-users>
    <app-inactive-users></app-inactive-users>
</div> -->

<!-- Routing -->
<div class="container">
    <app-routeheader></app-routeheader>
</div>